@{
}


@if (ViewBag.cheeses.Count > 0)
{
    <h1>Select Cheese to Delete</h1>
    <form method="post" action="">
        <select name="cheeseName">
            @foreach (Cheese cheese in ViewBag.cheeses)
            {
                <option value="@cheese.Name">@cheese.Name</option>
            }
        </select>
        <input type="submit" value="Delete" />
    </form>
}